<div class="basic-frame">

	<div class="marco-superior">
			<div class="section-one margenes"></div>
		<div class="maximize" ng-include="'partials/p-contacto.html'"></div>
	</div>

	<div class="marco-inferior">
		<div class="flex-container">
			<div class="section-four " >
				<div class="maximize" ng-include="'partials/p-instagram.html'"></div>
			</div>
			<div class="section-five " >
				<div class="maximize" ng-include="'partials/p-facebook.html'"></div>
				<!-- <div ng-include="{{inferior_template_2}}"></div> -->
			</div>
			<div class="section-six ">
				<div class="maximize" ng-include="'partials/p-twitter.html'"></div>
				<!-- <div ng-include="{{inferior_template_3}}"></div> -->
			</div>
		</div>
	</div>

</div>