<button class="back" ng-click="hide()">BACK >></button>
<ul>
	<li class="us">
		<a href="mailto:test@bamboocycles.mx">
			<p>USA</p>
			<img src="https://ipsumimage.appspot.com/100x75" />
		</a>
	</li>
	<li class="eu">
		<a href="mailto:test@bamboocycles.mx">
			<p>Europe</p>
			<img src="https://ipsumimage.appspot.com/100x75" />
		</a>
	</li>
	<li class="as">
		<a href="mailto:test@bamboocycles.mx">
			<p>Asia</p>
			<img src="https://ipsumimage.appspot.com/100x75" />
		</a>
	</li>
	<li class="oc">
		<a href="mailto:test@bamboocycles.mx">
			<p>Oceania</p>
			<img src="https://ipsumimage.appspot.com/100x75" />
		</a>
	</li>
	<li class="la">
		<a href="mailto:test@bamboocycles.mx">
			<p>Latin America</p>
			<img src="https://ipsumimage.appspot.com/100x75" />
		</a>
	</li>
	<li class="af">
		<a href="mailto:test@bamboocycles.mx">
			<p>Africa</p>
			<img src="https://ipsumimage.appspot.com/100x75" />
		</a>
	</li>
</ul>