<div class="basic-frame">

	<div class="marco-superior">
		<div class="section-one margenes">
			<h1 style="margin-left: 20px;">Merchandise</h1>
		</div>
		<!-- <div class="maximize" ng-include="'partials/p-bicicletas.html'"></div> -->
	</div>

	<div class="marco-inferior">
		<div class="flex-container">
			<div class="section-four margenes" >
				<div class="maximize" ng-include="'partials/p-instagram.html'"></div>
			</div>
			<div class="section-five margenes" >
				<div class="maximize" ng-include="'partials/p-blog-post.html'"></div>
				<!-- <div ng-include="{{inferior_template_2}}"></div> -->
			</div>
			<div class="section-six margenes">
				<div class="maximize" ng-include="'partials/p-buy-order.html'"></div>
				<!-- <div ng-include="{{inferior_template_3}}"></div> -->
			</div>
		</div>
	</div>

</div>