<div class="b-products maximize" ng-animate="'animate'" ng-controller="BicicletasController">
	<div class="maximize section-container" ng-switch on="isPersonaliza()">
		<div class="flex-container customize-change-animation" ng-switch-when="false">
			<div class="margenes section-zero" ng-class='{"selected": selected_index!=0}'>
				<!--<h2 ng-click="select(0)">Racer Street</h2>-->
				<!--<h1><span ng-click="select(0)">Bicicletas/</span>{{type}}</h1>-->
				<div class="section-zero-container">
					<div class="text-section">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
					<div class="video-section"> <iframe src="//www.youtube.com/embed/TSOsg_mUdIw" frameborder="0" width="100%" height="100%" allowfullscreen></iframe> </div>
					<div ng-class='{"first-selected": selected_index==1, "second-selected": selected_index == 2, "third-selected": selected_index == 3}' ng-switch on="selected_index==1">
						<slider-control ng-switch-when="true" images="cruise_thumbs" />
					</div>
					<div ng-class='{"first-selected": selected_index==1, "second-selected": selected_index == 2, "third-selected": selected_index == 3}' ng-switch on="selected_index==2">
						<slider-control ng-switch-when="true" images="racer_thumbs" />
					</div>
					<div ng-class='{"first-selected": selected_index==1, "second-selected": selected_index == 2, "third-selected": selected_index == 3}' ng-switch on="selected_index==3">
						<slider-control ng-switch-when="true" images="street_thumbs" />
					</div>
					<div class="section-menu">
						<a class="b-bici" ng-click="show('geom')">Geometry</a>
						<a class="b-bici" ng-click="show('specs')">Specifications</a>
						<a id="b-find" ng-click="show('dealers')">Find a dealer</a>
					</div>
				</div>
				<!--<div class="customize-button" ng-click="changePersonaliza()"><div class="text">Personaliza</div></div>-->
			</div>
			<div class="margenes section-one flex-container-center" ng-class='{"first-selected": selected_index==1, "second-selected": selected_index == 2, "third-selected": selected_index == 3}'>
				<slider ng-show="selected_index==1" images="cruise_images" />
				<div ng-show="selected_index==0" class="img-container" ng-click="select(1)">
					<img class="img-responsive" src="images/Bicicletas/cruise.jpg"  alt="">
				</div>
				<div class="inner-section" ng-show="selected_index==1 && geom">
					<button class="back" ng-click="hide()">BACK >></button>
					<img src="https://ipsumimage.appspot.com/800x600,ddd" />
				</div>
				<div class="inner-section" ng-show="selected_index==1 && specs">
					<button class="back" ng-click="hide()">BACK >></button>
					<h2>Specs</h2>
					<div class="text-section">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
				</div>
				<div class="inner-section" ng-show="selected_index==1 && dealers" ng-include="'partials/m-dealers.html'"></div>
				<!--<h1>Cruise</h1>--> <h1><img src="http://ipsumimage.appspot.com/405x40"></h1>
			</div>
			<div class="margenes section-two flex-container-center" ng-class='{"first-selected": selected_index==1, "second-selected": selected_index == 2, "third-selected": selected_index == 3}'>
				<slider ng-show="selected_index==2" images="racer_images" />
				<div ng-show="selected_index==0" class="img-container" ng-click="select(2)">
					<img class="img-responsive" src="./images/Bicicletas/racer.jpg" alt="">
				</div>
				<div class="inner-section" ng-show="selected_index==2 && geom">
					<button class="back" ng-click="hide()">BACK >></button>
					<img src="https://ipsumimage.appspot.com/800x600,ddd" />
				</div>
				<div class="inner-section" ng-show="selected_index==2 && specs">
					<button class="back" ng-click="hide()">BACK >></button>
					<h2>Specs</h2>
					<div class="text-section">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
				</div>
				<div class="inner-section" ng-show="selected_index==2 && dealers" ng-include="'partials/m-dealers.html'"></div>
				<h1>Racer</h1>
			</div>
			<div class="margenes section-three flex-container-center" ng-class='{"first-selected": selected_index==1, "second-selected": selected_index == 2, "third-selected": selected_index == 3}'>
				<slider ng-show="selected_index==3" images="street_images" />
				<div ng-show="selected_index==0" class="img-container" ng-click="select(3)">
					<img class="img-responsive" src="./images/Bicicletas/street.jpg" alt="">
				</div>
				<div class="inner-section" ng-show="selected_index==3 && geom">
					<button class="back" ng-click="hide()">BACK >></button>
					<img src="https://ipsumimage.appspot.com/800x600,ddd" />
				</div>
				<div class="inner-section" ng-show="selected_index==3 && specs">
					<button class="back" ng-click="hide()">BACK >></button>
					<h2>Specs</h2>
					<div class="text-section">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
				</div>
				<div class="inner-section" ng-show="selected_index==3 && dealers" ng-include="'partials/m-dealers.html'"></div>
				<h1>Street</h1>
			</div>
			<!-- <div class="margenes section-three flex-container-center" ng-click="select(3)" ng-class='{"first-selected": selected_index==1, "second-selected": selected_index == 2, "third-selected": selected_index == 3}'>
				<img class="img-responsive" src="./images/Bicicletas/street.jpg" height="458" width="458" alt="">
				<h1>Street</h1>
			</div> -->
		</div>
		<div class="flex-container menu maximize menu-animation" ng-class='{"first-selected": selected_index==1, "second-selected": selected_index == 2, "third-selected": selected_index == 3}'>
			<!--
			<div class="menu-bicicles" ng-class='{"selected": selected_index!=0}' ng-click="changePersonaliza()">
				<div ng-switch on="isPersonaliza()">
					<<p ng-switch-when="false">Personaliza los colores</p>
					<p ng-switch-when="true">Información de la bici</p>
				</div>
			</div>
			-->
			<div class="margenes menu-one" ng-class='{"first-selected": selected_index==1, "second-selected": selected_index == 2, "third-selected": selected_index == 3}' ng-click="select(1)">
				<!--<h1>Cruise</h1>--><h1><img src="images/Bicicletas/boton-cruise.png"></h1>
			</div>
			<div class="margenes menu-two" ng-class='{"first-selected": selected_index==1, "second-selected": selected_index == 2, "third-selected": selected_index == 3}' ng-click="select(2)">
				<!--<h1>Racer</h1>--><h1><img src="images/Bicicletas/boton-racer.png"></h1>
			</div>
			<div class="margenes menu-three" ng-class='{"first-selected": selected_index==1, "second-selected": selected_index == 2, "third-selected": selected_index == 3}' ng-click="select(3)">
				<!--<h1>Street</h1>--><h1><img src="images/Bicicletas/boton-street.png"></h1>
			</div>
		</div>
	</div>
</div>