<div class="b-facebook" ng-controller="FacebookController">
	<div id='fb-root'></div>
	<!-- <div	
  class="fb-like"
	  data-send="true"
	  data-width="450"
	  data-show-faces="true">
	</div> -->
	<!-- <div class="fb-like-box" data-href="https://www.facebook.com/bamboocycles" data-width="200" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="true"></div> -->
	<div class="fb-like-box" data-href="https://www.facebook.com/bamboocycles" data-colorscheme="light" data-show-faces="false" data-header="false" data-stream="true" data-show-border="false"></div>
	<!-- <div fb-like="http://www.facebook.com/bamboocycles" fb-height="800" fb-faces="true" fb-stream="true" fb-header="true"></div> -->
	<!-- <afb:comments href="http://wlepinski.github.io/angularjs-facebook-sdk/" width="500" numposts="5" colorscheme="light" on-comment-created="onCommentCreated(href, commentID, parentCommentID);" on-comment-removed="onCommentRemoved(href, commentID, parentCommentID);"></afb:comments> -->
</div>