<div class="b-open-source maximize">
	<div class="section-one margenes">
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dignissim suscipit facilisis. Pellentesque et gravida tellus. In elit velit, rhoncus eu tortor sit amet, ultricies lobortis urna. Quisque facilisis ante eu justo vehicula fringilla. Vivamus sed magna lectus. Quisque ac accumsan ligula, ut elementum arcu. Duis risus est, aliquet sit amet nunc vel, lobortis dapibus dui. Fusce dictum lorem id eros pretium, ac consectetur sapien placerat. Morbi dignissim at sapien sit amet convallis.
		</p>	
	</div>
	<div class="section-two margenes">
		<div class="download-container">
			<div class="title">Archivo 1</div>
			<img class="img-responsive" src="../images/OpenSource/download.jpg" height="225" width="225" alt="">
			<div class="description">
				Este es un archivo que hace tal y tal y tal.
			</div>	
		</div>
	</div>
	<div class="section-three margenes">
		<div class="download-container">
			<div class="title">Archivo 2</div>
			<img class="img-responsive" src="../images/OpenSource/download.jpg" height="225" width="225" alt="">
			<div class="description">
				Este es un archivo que hace tal y tal y tal.
			</div>	
		</div>
	</div>
	<div class="section-four margenes">
		<div class="download-container">
			<div class="title">Archivo 3</div>
			<img class="img-responsive" src="../images/OpenSource/download.jpg" height="225" width="225" alt="">
			<div class="description">
				Este es un archivo que hace tal y tal y tal.
			</div>	
		</div>
	</div>
	<div class="section-five margenes">
		<div class="download-container">
			<div class="title">Archivo 4</div>
			<img class="img-responsive" src="../images/OpenSource/download.jpg" height="225" width="225" alt="">
			<div class="description">
				Este es un archivo que hace tal y tal y tal.
			</div>	
		</div>
	</div>
</div>