<div class="b-talleres maximize">
	<div class="section-one margenes">
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dignissim suscipit facilisis. Pellentesque et gravida tellus. In elit velit, rhoncus eu tortor sit amet, ultricies lobortis urna. Quisque facilisis ante eu justo vehicula fringilla. Vivamus sed magna lectus. Quisque ac accumsan ligula, ut elementum arcu. Duis risus est, aliquet sit amet nunc vel, lobortis dapibus dui. Fusce dictum lorem id eros pretium, ac consectetur sapien placerat. Morbi dignissim at sapien sit amet convallis. Sed pulvinar diam vitae tellus sagittis vehicula. Praesent luctus nisl sit amet vestibulum imperdiet. Ut non magna quis metus porta dapibus.
		</p>

		<p>
			Fusce nec eros leo. Morbi euismod mollis accumsan. Donec vel feugiat nulla. Mauris interdum sapien luctus tellus dictum pellentesque. Praesent eget interdum mauris, non ullamcorper ante. Quisque aliquet blandit elementum. Aliquam dictum odio tortor, id suscipit nisl malesuada ornare. Cras velit enim, accumsan et urna congue, porttitor iaculis lacus. Vestibulum condimentum massa ut molestie varius. Nunc nulla ante, venenatis ut scelerisque quis, feugiat eget sem.
		</p>	
	</div>
	<div class="section-two margenes">
		<div class="video-container">
			<iframe src="//www.youtube.com/embed/6DuUPLbCOW8" frameborder="0" width="140%" height="80%" allowfullscreen></iframe>
		</div>	
	</div>
	<div class="section-menu">
		<h1>Inscribirse</h1>
	</div>
</div>