<div class="basic-frame">

	<div class="marco-superior margenes">
		<div></div>
	</div>

	<div class="marco-inferior">
		<div class="flex-container">
			<div class="section-four margenes">
				<!-- <div ng-include="{{inferior_template_1}}"></div> -->
			</div>
			<div class="section-five margenes">
				<!-- <div ng-include="{{inferior_template_2}}"></div> -->
			</div>
			<div class="section-six margenes">
				<!-- <div ng-include="{{inferior_template_3}}"></div> -->
			</div>
		</div>
	</div>

</div>