<div class="slider">
  <div class="slider-slide slide-animation" ng-repeat="image in images" ng-show="image.visible">
    <img class="slider-slide-img" ng-src="{{image.src}}" />
  </div>
  
  <a href="" class="slider-arrows slider-arrows-left" ng-click="prev()">
    <!-- <img src="../images/Slider/left_arrow.png" height="225" width="225" /> -->
  </a>
  <a href="" class="slider-arrows slider-arrows-right" ng-click="next()">
    <!-- <img src="../images/Slider/right_arrow.png" height="225" width="225" /> -->
  </a>
  <nav class="slider-nav">
  <div class="slider-nav-wrapper">
   <!-- <ul class="slider-nav-dots"> -->
      <li class="slider-nav-dot" ng-repeat="slide in images" ng-click="setCurrentSlideIndex($index);">
        <a ng-class="{'active':isCurrentSlideIndex($index)}" href=""></a></li>
      </ul>
    </div>
  </nav>
</div>